// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

:root {
    --ion-color-primary: #191e3d;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-dark: #161a36;
    --ion-color-primary-light: #303550;
    --ion-color-primary-gradient-light: linear-gradient( to bottom, var(--ion-color-primary-light) 0%, var(--ion-color-primary-medium) 100%);
    --ion-color-primary-gradient: linear-gradient( to bottom, var(--ion-color-primary) 0%, var(--ion-color-primary-dark) 100%);
    --ion-color-primary-gradient-dark: linear-gradient( to bottom, var(--ion-color-primary-medium) 0%, var(--ion-color-primary-dark) 100%);
    --ion-color-blue: #20a7f5;
    --ion-color-blue-dark: #126391;
    --ion-color-blue-medium: #1988c8;
    --ion-color-blue-light: #5cb6eb;
    --ion-color-blue-gradient: linear-gradient( to bottom, var(--ion-color-blue) 0%, var(--ion-color-blue-dark) 100%);
    --ion-color-aqua: #00a7af;
    --ion-color-aqua-dark: #197278;
    --ion-color-aqua-medium: #028090;
    --ion-color-aqua-light: #16b6be;
    --ion-color-aqua-gradient: linear-gradient( to bottom, var(--ion-color-aqua) 0%, var(--ion-color-aqua-dark) 100%);
    --ion-color-white: #ffffff;
    --ion-color-aqua-white: #b1e6e9;
    --ion-color-white-gradient: linear-gradient( to bottom, var(--ion-color-white) 0%, var(--ion-color-aqua-white) 100%);
    --ion-color-yellow: #ffa900;
    --ion-color-yellow-dark: #c2850a;
    --ion-color-yellow-medium: #df9600;
    --ion-color-yellow-light: #f8c630;
    --ion-color-yellow-gradient: linear-gradient( to bottom, var(--ion-color-yellow) 0%, var(--ion-color-yellow-dark) 100%);
    --ion-color-orange: #fb592a;
    --ion-color-orange-dark: #a93c1c;
    --ion-color-orange-medium: #cf4d27;
    --ion-color-orange-light: #ff7046;
    --ion-color-orange-gradient: linear-gradient( to bottom, var(--ion-color-orange) 0%, var(--ion-color-orange-dark) 100%);
    --ion-color-green: #56ab30;
    --ion-color-green-dark: #194d23;
    --ion-color-green-medium: #2a6a0e;
    --ion-color-green-light: #80c063;
    --ion-color-green-gradient: linear-gradient( to bottom, var(--ion-color-green) 0%, var(--ion-color-green-dark) 100%);
    --ion-color-wine: #9c3d30;
    --ion-color-wine-dark: #5e241d;
    --ion-color-wine-medium: #772e25;
    --ion-color-wine-light: #b75e52;
    --ion-color-wine-gradient: linear-gradient( to bottom, var(--ion-color-wine) 0%, var(--ion-color-wine-dark) 100%);
    --ion-color-fuchsia: #f54e70;
    --ion-color-fuchsia-dark: #b6244f;
    --ion-color-fuchsia-medium: #cd3957;
    --ion-color-fuchsia-light: #f7758f;
    --ion-color-fuchsia-gradient: linear-gradient( to bottom, var(--ion-color-fuchsia) 0%, var(--ion-color-fuchsia-dark) 100%);
    --ion-color-success: #07b170;
    --ion-color-success-dark: #05764a;
    --ion-color-success-light: #008753;
    --ion-color-success-gradient: linear-gradient( to bottom, var(--ion-color-success) 0%, var(--ion-color-success-dark) 100%);
    --ion-color-success-gradient-light: linear-gradient( to bottom, var(--ion-color-success) 0%, var(--ion-color-success-light) 100%);
    --ion-color-error: #f03a47;
    --ion-color-error-dark: #a52422;
    --ion-color-error-light: #bf211e;
    --ion-color-error-gradient: linear-gradient( to bottom, var(--ion-color-error) 0%, var(--ion-color-error-dark) 100%);
}